# ======================= #
# Unreal Engine generated #
# ======================= #
Binaries/
Build/
Debug/
DerivedDataCache/
enc_temp_folder/
Intermediate/
Saved/

# ======================= #
# AngelScript #
# ======================= #
Script/.vscode/

# ======================= #
# Visual Studio generated #
# ======================= #
.vs/
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.user
*.db

# ============ #
# OS generated #
# ============ #
Thumbs.db